<h1 id="tableLabel">Add cerinta</h1>

<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    input[type=submit]:hover {
      opacity: 0.8;
    }
</style>

<form>
  <label for="echipament">Echipament</label>
  <input [(ngModel)]="cerinte.echipament" type="text" id="echipament" name="echipament" placeholder="Echipament..">
  <label for="experienta">Experienta</label>
  <input [(ngModel)]="cerinte.experienta" type="text" id="experienta" name="experienta" placeholder="Experienta..">
  <label for="varsta">Varsta</label>
  <input [(ngModel)]="cerinte.varsta" type="text" id="varsta" name="varsta" placeholder="Varsta.."><br />
  <input (click)="saveCerinte()" type="submit" value="Salveaza cerinta">
</form>
